* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr 3fr;
  height: 115px;
  width: 100%;
  background-color: white;
  justify-items: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(58, 56, 56, 0.5);
  margin-bottom: 30px;
}
.container div p {
  font-family: "Martel", serif;
  font-weight: 300;
  font-style: normal;
}
.nav-btn {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  background-color: white;
  border: none;
}
.nav-btn a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  background-color: white;
  text-decoration: none;
}
.nav-btn a:hover {
  cursor: pointer;
  color: #ffc200;
  border-bottom: 2px solid #ffc200;
}
.nav-btn:focus {
  border-bottom: 2px solid #ffc200;
  color: #ffc200;
}
.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #c0d1dc; */
  height: 81vh;
  width: 100%;
}
.text {
  align-self: center;
  justify-self: center;
  /* font-weight: 700;
    font-size: 60px; */
}
.imgpart {
  align-self: center;
  justify-self: center;
}
.welcome {
  color: #5b5b5b;
  margin-bottom: 10px;
  font-size: 24px;
}
.dwnld-btn {
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: #f4ebeb;
  padding: 13px 29px;
  font-size: 14px;
}
.dwnld-btn:hover {
  cursor: pointer;
  color: #ffc200;
}
.Tisha {
  color: #ffc200;
}
.hi {
  font-size: 50px;
}
.text2 {
  color: #5b5b5b;
  margin-bottom: 10px;
}
.portfolioimg1 {
  height: 450px;
  margin-top: 20px;
}
.sec {
  height: 200px;
}
.text3 {
  text-align: left;
  color: black;
}
.get {
  color: #5b5b5b;
}
.Aboutme {
  font-size: 50px;
}
.aboutcont {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 99vh;
  background-color: #d4af37;
}
.tishaimg {
  height: 550px;
  border-radius: 18px;
}
.selfimg {
  align-self: center;
  justify-self: end;
}
.selfdes {
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  font-size: 20px;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70vh;
  margin-top: 60px;
  gap: 20px 20px;
  margin: 10px 10px;
  padding: 20px 20px;
}
.card {
  height: 50vh;

  border-radius: 15px;
  width: 60vh;
  box-shadow: 0 2px 6px rgba(58, 56, 56, 0.5);
}
.skilltxt,
.projectxt {
  font-size: 30px;
  text-align: center;
  padding: 70px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
.projectxt {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  height: 100vh;
}
.mid {
  background-color: #ffc200;
  height: 70vh;
  margin-top: 20vh;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  height: 70vh;
  margin-top: 60px;
  gap: 20px 20px;
  margin: 10px 10px;
  padding: 20px 20px;
  margin-bottom: 10vh;
}
.procard {
  border: 1px solid black;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(58, 56, 56, 0.5);
}
.submit {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-color: #FFC200; */
  border: 1px solid #ffc200;
  background-color: white;
}
.line {
  width: 80%;
  height: 1px;
  background-color: #ffc200;
  margin: 0 auto;
}
